/* Global */
.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body, h1, p {
    margin: 20;
    padding: 0;
    font-family: 'Protest Riot', sans-serif;
}

body {
  background-color: #F2D788;
  color: #262626;
  font-family: 'Protest Riot', sans-serif;

  /* background-image: linear-gradient(45deg, #FEFBF3 25%, transparent 25%),
                    linear-gradient(-45deg, #FEFBF3 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #FEFBF3 75%),
                    linear-gradient(-45deg, transparent 75%, #FEFBF3 75%);
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0px; */
}

.label {
  font-family: 'Protest Riot', sans-serif;
  font-size: 20px;
}

.error {
  font-family: 'Protest Riot', sans-serif;
  font-size: 20px;
  color: red; 
}

/* Icon in NavBar */
.icon-image {
  width: 5em;
  height: 5em;
  float: left;
  background-color: #262626;
}

nav {
  background-color: #262626;
  color: #F2D888;   
}


.navbar {
  display: flex;
  background-color: #262626;
  color: #F2D888;
  overflow: hidden;
  /* margin: 1 10px; */
  border-radius: 8px;
}

.logoutButton {
  font-family: 'Protest Riot';
  display: block;
  background-color: #8c0303;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

  .nav-link {
    /* float: left; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2D888;
    /* text-align: center; */
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px 20px;
    background-color: #8c0303;
  }
  
  .nav-link.active {
    background-color: #5a7302;
  }

  .input {
    background-color: #f0f0f0;
    border: 1px solid #d3d3d3;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
                inset -2px -2px 5px rgba(255, 255, 255, 0.7);
    padding: 16px;
    margin: 16px 0;
    width: calc(100% - 16px); 
    outline: none; 
    font-size: 20px;    
}

  input:focus {
    outline: none;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.25),
                inset -1px -1px 2px rgba(255, 255, 255, 0.8);
  }

  .inputdropdown {
    background-color: #f0f0f0;
    border: 1px solid #d3d3d3;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
                inset -2px -2px 5px rgba(255, 255, 255, 0.7);
    padding: 16px;
    margin: 16px 0;
    width: calc(25% - 16px); 
    outline: none; 
    font-size: 18px;    
    border-radius: 8px;
    font-family: "Protest Riot";
}

  .loginMain, .signupMain {
    display: grid;
    place-items: center;    
  }

  .button {
    width: 175px;
    background-color: #8c0303;;
    color: #F2D888;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    font-family: 'Protest riot';
  }

  /* USER PAGE */
  .WelcomeHeader {
    color: #F2D888;
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  2px 0 #000; /* Black text-shadow outline */
  }

  .userProfile {
    font-size: 20px;
  }


  /* RECIPE CARDS */

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCF7E7;
  }

  .card-body > h2, .card-body > span, .recipe-info, .recipe-actions {
    width: 100%; 
    text-align: center; 
    margin-bottom: 10px; 
    font-family: 'Protest Riot';
  }

  .recipe-info {
    display: flex;
    justify-content: space-around; 
  }

  .recipe-actions {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 10px; 
    margin: 10px 15px; 
  }

  .recipecardbutton {
  }

 
  .recipecardbutton {
    width: 150px;
    background-color: #8c0303;;
    color: white;
    padding: 0px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
  }
  
  

  .button:hover {
    background-color: #F2D888;
    color: #5A7302;
    border: 2px solid #262626
    /* border: 10px solid aqua; */
  }
  
  /* Home page styles */
  .homeGridContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  
  .homeColumn {
    backgroud-color: #5a7302;
    padding: 20px;
    text-align: center;
    border: 10px dotted black;
    font-size: 30px;
    font-weight: bold;
    color: #5a7302;
    position: relative;
    animation: blinkBorder 1s linear infinite;
  }

  @keyframes blinkBorder {
    0%, 100% {
      border-color: black;
    }
    50% {
      border-color: transparent;
    }
  }
  
  .homeBackground {
    background-color: #c03030;
    color: #f2d888;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
  }
  
  .home-header {
    color: #f2d888;
    text-align: center;
    font-size: 65px;
    /* animation: blinkAnimation 3s linear infinite; */
  }

  @keyframes blinkAnimation {
    0%, 100% {opacity: 1; }
    50% {opacity: 0;}
  }

  .userProfile {
    background-color: #FEFBF3; /* Light grey background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,1); /* Subtle shadow */
    padding: 20px; /* Spacing inside the container */
    max-width: 400px; /* Max width to maintain readability */
    margin: 20px auto; /* Centering the box */
  }
  
  .userProfile h2 {
    color: #394002; 
    margin-bottom: 15px;
  }
  
  .userProfile p {
    color: #262626; 
    line-height: 1.5; 
    margin-bottom: 10px; 
  }

  /* RECIPES */

  .recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

@media (max-width: 768px) {
  #recipe-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets and similar devices */
  }
}

@media (max-width: 480px) {
  #recipe-container {
    grid-template-columns: 1fr; /* 1 column for mobile devices */
  }
}


#recipe-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a 3-column layout */
  gap: 20px; /* Adjusts space between grid items */
  padding: 20px; /* Adds some padding around the grid */
}


.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 10px;
  padding:10px;
  overflow: hidden; /* Ensures that all content fits within the rounded corners */
}



.card img {
    width: 50%;
    height: 200px;
    object-fit: cover;
}

.image-container {
  width: 100%; /* or fixed width, e.g., 300px */
  height: auto; /* for responsiveness, adjust based on your layout */
  overflow: hidden; /* ensures the image does not overflow the container */
  position: relative; /* positions the image within this container */
  border-radius: 8px; /* optional, for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* optional, for shadow effect */
}

.modal-overlay {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 1000; 
}

.modal-content {
  background-color: #F2D888; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 600px; 
  width: 90%; 
  position: relative; 

}

.modal-content button {
  background-color: #8c0303; 
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px; 
  margin-top: 20px; 
}

/* Style adjustments for mobile responsiveness */
@media (max-width: 768px) {
  .modal-content {
    width: 95%; /* More width on smaller screens */
    padding: 10px; /* Less padding on smaller screens */
  }
}


.card h2 {
    padding: 10px;
    border-radius: 10px;
    text-decoration: underline;
}

.card p,
.card button {
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}


/* RecipeForm.css */

.NewRecipeContainer {
  /* border: 2px solid black; */
  margin-left: 20px;
}

.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #F2D888;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: solid black 2px;
  font-family: "Protest Riot";
}

.form-group{
  margin-bottom: 20px;
  border: solid black 2px;
  font-family: "Protest Riot";
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  font-family: "Protest Riot";
  /* border: solid black 2px */
}

.form-input {
  width: 50%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 20px;
  /* font-family: "Protest Riot"; */
}

.time-section {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important; 
  margin-bottom: 20px !important;
  font-family: "Protest Riot"; 
}

.time-inputs {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  gap: 20px !important;
  font-family: "Protest Riot"; 
}

.time-input {
  display: flex !important;
  flex-direction: column !important;
  font-family: "Protest Riot";
}

#measurement {
  margin-right: 20px;
}

#ingredient-name {
  margin-left: 20px;
}



.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  border: solid black 2px;
  font-family: "Protest Riot";
}

.form-container input[type="text"],
.form-container select,
.form-container textarea,
.form-container input[type="time"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Prevents padding from increasing the size */
}

.form-container .button {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-container .button:hover {
  background-color: #0056b3;
}

/* Adjustments for specific inputs */
#title {
  /* Specific styles for the title input */
}

#meal_type {
  /* Specific styles for the meal type select box */
}

#cooking_time {
  /* Specific styles for the cooking time input */
}

#ingredients {
  /* Styles for the ingredients textarea */
  height: 100px; /* Adjust height as necessary */
}

#directions {
  /* Styles for the directions textarea */
  height: 150px; /* Adjust height as necessary */
}

.modal-overlay {
  position: fixed; /* Full-screen overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  display: flex;
  justify-content: center; /* Center the modal horizontally */
  align-items: center; /* Center the modal vertically */
  z-index: 1000; /* Ensure it sits above other content */
}

.modal-content {
  background-color: #fff; /* White background */
  padding: 20px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* A subtle shadow */
  width: 75%; /* Width of the modal */
  max-width: 90%; /* Maximum width */
  max-height: 80vh;
  overflow-y: auto;
}

/* Add a close button for the modal */
.close-modal-button {
  float: right; /* Position it to the right */
  padding: 2px 5px; /* Small padding */
  margin: -10px -10px 10px 10px; /* Positioning adjustments */
  border: none; /* No border */
  background-color: #8c0303; /* Light grey background */
  cursor: pointer; /* Pointer cursor on hover */
  
}

.close-modal-button:hover {
  background-color: #aaa; /* Darker grey on hover */
}

/* Edit Recipe Form */

.edit-recipe-button {
  font-family: "Protest Riot";
}